body {
    overflow-x: hidden;
}

.card {
    min-height: 450px
    
}

.card-body {
    position: relative;
}
.tipus {
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}


#buttonPlus {
    position: fixed;

    bottom: 10px;
    right: 10px;
    
    width: 34px;
    height: 34px;

    transform: translate(-5px,-5px);

    background-image: url(../media/buttonPlus.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    cursor: pointer;
    z-index: 100;

}

/*
.imgPokemon {
    height: 190px;
}
#bulbasaur {
    width: 192.64px;
}
#ivysaur {
    height: 205.89px;
}
*/

